{% load static %}
<html>
    <head>
        <link href = "{% static 'css/test.css' %}" rel = "stylesheet">
    </head>
        <div id=m2>
            <div id="bulletin_detail"><font class="P2">위치</font></div>
        <div id="bulletin_select">
            <div id="bulletin_select_detail_introduce"><a href="/bulletin/intro" class="item">소개</a></div>
            <div id="bulletin_select_detail_menu"><a href="/bulletin/menu" class="item">메뉴</a></div>
            <div id="bulletin_select_detail_map"><a href="/bulletin/map" class="item">위치</a></div>
            <div id="bulletin_select_detail_comment"><a href="/bulletin/com" class="item">댓글</a></div>
        </div>
        </div>
</html>
