{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">


<head> 
    <meta charset="UTF-8">
    <link href = "{% static 'css/newmenu.css' %}" rel = "stylesheet">
    <link href = "{% static 'css/newmenu3.css' %}" rel = "stylesheet">
    <link href = "{% static 'css/newlist.css' %}" rel = "stylesheet">
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href = "{% static 'css/style.css' %}" rel = "stylesheet">     
    <script type="text/javascript" src="/static/js/script.js"></script>
              
    <!--js적용-->
    <script src="http://code.jquery.com/jquery-latest.js"></script>

</head>

<body>
    <div class="nav">
        <div class="logo">
            <img src="../static/images/aae.jpg">
        </div>
        <div class="nav_but">
            <a href="">페이지1</a>
            <a href="">페이지2</a>
            <a href="">페이지3</a>
            <a href="">페이지4</a>
        </div>
    </div>
    
   <center>
    <div id="m2">
      <center>
      
      <div id = "content">
              <div class>
                  <div id="image1_bt"> images</div>
                  <div id='explain'>
                        <p>게시글 쓰는란</p>
                  </div>
              </div> 

              <div class>
                  <div id="image1_bt"> images2</div>
                  <div id='explain'>게시글 쓰는란</div>
              </div> 

             <div class>
                  <div id="image1_bt"> images3</div>
                  <div id='explain'>게시글 쓰는란</div>
              </div> 

            <div id="image1_pop" style="display:none;">
                <div style="height:370px;">
                </div>
                
                <!--<div id="image1_bt"> images3</div>-->

                <!--askjsdkjljkkdsfnvjkhkjflhgskahfldshfljkkdsfnvjkhkjflhgskahfldshfjkkdsfnvjkhkjflhgskahfldshfjkkdsfnvjkhkjflhgskahfldshfk-->
                
                <div id="wrapper">
                    <div>
                        <div class="sliderbutton"><img src="/static/images/left.gif" width="32" height="38" alt="Previous" onclick="slideshow.move(-1)" /></div>
                        <div id="slider">
                            <ul>
                                <li id="content">
                                    <h1>소개글</h1>
                                    <p> 냠냠 </p>
                                    <p><em>For complete details visit <a href="http://www.leigeber.com/">leigeber.com</a>.</em></p>
                                </li>
                                <li><img src="/static/images/sea-turtle.jpg" width="500" height="300" alt="Sea turtle" /></li>
                                <li><img src="/static/images/coral-reef.jpg" width="500" height="300" alt="Coral Reef" /></li>
                                <li><img src="/static/images/blue-fish.jpg" width="500" height="300" alt="Blue Fish" /></li>
                            </ul>
                        </div>
                        <div class="sliderbutton"><img src="/static/images/right.gif" width="32" height="38" alt="Next" onclick="slideshow.move(1)" /></div>
                    </div>
                    
                    <ul id="pagination" class="pagination">
                        <li onclick="slideshow.pos(0)">1</li>
                        <li onclick="slideshow.pos(1)">2</li>
                        <li onclick="slideshow.pos(2)">3</li>
                        <li onclick="slideshow.pos(3)">4</li>
                    </ul>
                </div>
                
                
                
                
                
<!-- djasfakfsfkjdhskjfahdskjfhkjdsfahdjfsdafhdskjafhdskjafhskjafhdskjafhskjdfhskjdhfkjhfkjs-->
                <div>
                    <div id="image1_close">close</div>
                </div>
            </div>
            
<!--
            <section class = "service">
                    <div class = "text">
                        <h1>멋사</h1>
                        <p>dfdfd</p>
                        <button>more..</button>
                    </div>
                </div>
            </section>

-->

            <section class = "list_intro">
                <div class = "container">
                    <div class ="list_intro_left">
                        <h2>오프라인 카페를 추천해주는 사이트입니다</h2>
                        <h1>Hagusa X LIKELION</h1>
                        <p>* 개발 : 안재욱 김승환 김현지 김현민</p>
                        <p>* 문의 : 010 - xxxx - xxxx</p>
                        
                    </div>
                    
                </div>
            </section>

            
            </center>
        </div>
    </center>
    <script type="text/javascript">
        $(document).ready(function() {
         $('#image1_bt').click(function() {
          $('#image1_pop').show();
         });
     
         $('#image1_close').click(function() {
          $('#image1_pop').hide();
         });
        });
     var slideshow=new TINY.slider.slide('slideshow',{
         id:'slider',
         auto:3,
         resume:true,
         vertical:false,
         navid:'pagination',
         activeclass:'current',
         position:0
     });
     </script>
</body>