
<h1>임시 홈이라구.</h1>
{% load socialaccount %}
{% providers_media_js %}

{% if user.is_authenticated %}
<a href="/accounts/logout">로그아웃</a><br>
{{user.username}} 님이 로그인 중

{% else %}
<a href="{% provider_login_url 'google' %}">구글 로그인</a><br>

{% endif %}
<a href="{%url 'new'%}">글작성하기</a>
<!doctype html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>hagusa cafe</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<style>
			p { margin:20px 0px; }
		</style>
	</head>
	<body>
        {% block content %}
            <div class="container">
                {% for blog in posts %}
                        <h5 class="">{{blog.title}}</h5>
                        <p class="">{{blog.summary}}</p>
                        <a href="{%url 'detail' blog.id%}" class="">..more</a>
                <br>
                {%endfor%}
                <div class="row">
                    <div class="col">
                        {% if posts.has_other_pages %}
                        <ul class="pagination">
                            {% if posts.has_previous %}
                                <a href="?page={{posts.previous_page_number}}" class = "page-link">&laquo;</a> 
                            {% else %}
                                <span class="page-link">&laquo;</span>
                            {% endif %}
        
                            {% if posts.number > 3 %}
                                <a href="?page={{ 1 }}" class = "page-link"> 1 </a>
                                <span class="page-link">...</span>
                            {% endif %}

                            {% for i in page_range %}
                                {% if posts.number == i %}
                                    <strong><span class="page-link">{{i}}</span></strong>
                                {% else %}
                                    <a href="?page={{i}}" class = "page-link">{{ i }}</a>
                                {% endif %}
                            {% endfor %}

                            {% if posts.number < max_index %}
                                <span class="page-link">...</span>
                                <a href="?page={{max_index|add:'2'}}" class = "page-link">{{ max_index|add:"2"}}</a>
                            {% endif %}
        

                            {% if posts.has_next %} 
                                <a href="?page={{ posts.next_page_number }}" class = "page-link">&raquo;</a>
                            {% else %}
                                <span class = "page-link">&raquo;</span>
                            {%endif %}
                        </ul>
                        {%endif%}
                    </div>
                </div>
            </div>
        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	</body>
</html>

