<!DOCTYPE html>
<html lang="ko">

<head>
   <meta charset="UTF-8">
   <title>frontnew</title>
   <style>
    #header {
        margin-left : 660px;
        width:100px;
    }
    #section{
        margin-top:-50px;
    }
    #left{
        margin-left:550px;
    }
    #left1{
        margin-left:-33px;
    }
    </style>
</head>
<h1 id="header">New</h1>
<a id="header" href="{%url 'homepage'%}">home</a>
<div id="left" class="container">
    <form action="{% url 'create'%}">
        <h4 id="left1">가게이름 : <input type ="text" name="title"></h4>
        <br>
        <br>
        <h4>소개 : <textarea cols=40 rows=5 name="body"></textarea> </h4>
        <br>
        <br>
        <h4 id="left1">매장사진 : <textarea cols=40 rows=10 name="body"></textarea> </h4>
        <br>
        <br>
        <h4>메뉴 : <textarea cols=40 rows=10 name="body"></textarea></h4>
        <br>
        <br>
        <h4>위치 : <textarea cols=40 rows=10 name="body"></textarea></h4>
        <input class="btn btn-dark" type="submit" value="제출하기">
    </form>
</div>