<!DOCTYPE html>
{% load static %}
<html lang="ko">

    <head>
    <meta charset="UTF-8">
    <link href = "{% static 'css/test.css' %}" rel = "stylesheet">
    <title>Hagusa</title>
    </head>
    <div class="container">
        <div class="row 제목">
            <div id="header" class="col-xs-12">제목</div>
        </div>
        <div class="row 내용">
            <div id="middle"class="col-xs-6 col-md-offset-2 col-md-3">1</div>
            <div id="middle"class="col-xs-6 col-md-3">2</div>
            <div id="middle"class="col-xs-6 col-md-3">3</div>
            <div id="middle"class="col-xs-6 col-md-offset-2 col-md-3">4</div>
            <div id="middle"class="col-xs-6 col-md-3">5</div>
            <div id="middle"class="col-xs-6 col-md-3">6</div>
            <div id="middle"class="col-xs-6 col-md-offset-2 col-md-3">7</div>
            <div id="middle"class="col-xs-6 col-md-3">8</div>
            <div id="middle"class="col-xs-6 col-md-3">9</div>
            <div id="middle"class="col-xs-6 col-md-1">10</div>
        </div>
        <div class="row 밑부분">
            <div class="col-xs-12"></div>
        </div>
    </div>
</html>