{% load static %}
<html>
    <head>
        <link href = "{% static 'css/test.css' %}" rel = "stylesheet">
    </head>
    <body>
        <div id=m2>
            <div id="main_title">
                <font class="main_title_font">title</font>
                <a href="#" class="item">login</a>
                <a href="#" class="item">signup</a>
            </div>
            <div id="main_search"><font class="P1">search</font></div>
            <div id="main_CT">사이드메뉴</div>
            <div id="main_J"><font class="P2">지도</font></div>
            <div id="m6">빈공간</div>
        </div>
    </body>
</html>