{% load static %}
<html>
    <head>
        <link href = "{% static 'css/main.css' %}" rel = "stylesheet">
    </head>
    <body>
        <div id=m2>
            <div id="m3">
                <a href="#">login</a>
                <a href="#">signup</a>
            </div>
            <div id="main_title">
                <font class="main_title_font">hagusa</font>
            </div>
            <form>
                <input type="search" placeholder="Search" aria-label="Search" size ="30">
                <input type=submit  value="" style="background-color:transparent;  border:0px transparent solid;"></button>
            </form>
            <li>
                <a href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div aria-labelledby="navbarDropdown">
                    <a href="#">Action</a>
                    <a href="#">Another action</a>
                    <div></div>
                    <a href="#">Something else here</a>
                </div>
            </li>
            <div id="main_CT">사이드메뉴</div>
            <div id="main_J"><font class="P2">지도</font></div>
            <div id="m6">빈공간</div>
        </div>
    </body>
</html>