{% load static %}
<h1> new page </h1>

<head> 

    <link href = "{% static 'css/menu.css' %}" rel = "stylesheet">
</head>

<body>
        <center>
<div id="m2">
        <center>

        <div id='name2' style="padding:10px;"> 가게이름 메뉴판</div>
        
        <div id='item2'> 
            내용
            <div class ="article">
                <div class="main_1 image"> test1</div>
                <div id='explain'>게시글 쓰는란</div>
            </div> 
        </div>
  
        <!--<img src="images/dd.png" alt="My Image">  -->     
    </center>
</div>
</center>

</body>