{% load static %}
<h1> new page </h1>

<head> 
    <link href = "{% static 'css/menu.css' %}" rel = "stylesheet">

</head>

<body>
   <center>
    <div id="m2">
      <center>
      <div id="name", style="padding:20px;"> 가게이름 메뉴판</div>

      <div id = "content">
              내용
              <div class>
                  <div id="image1"> test1</div>
                  <div id='explain'>게시글 쓰는란</div>
              </div> 
         

        

        </div>
      
    </center>
    </div>
   </center>

  </body>