<!DOCTYPE html>
{% load static %}
<html lang="ko">

    <head>
    <meta charset="UTF-8">
    <link href = "{% static 'css/homecss.css' %}" rel = "stylesheet">
    <title>Hagusa</title>
    </head>
    <body>
    <div id="m3">
        <div id ="read_title">title</div>
        <form>
            <input type="search" placeholder="Search" aria-label="Search" size ="30">
            <input type="submit"  value="" style="background-color:transparent;  border:0px transparent solid;"></button>
        </form>
        <div id="read_category">
            <br>
            <h1>
                <div id="read_blank1"></div>
                <div id="read_card">card<br>
                    <button class="button button1">more</button>  
                </div>
                <div id="read_blank"></div>
                <div id="read_card">card<br>
                    <button class="button button1">more</button>  
                </div>
                <div id="read_blank"></div>
                <div id="read_card">card<br>
                    <button class="button button1">more</button>  
                </div>
            </h1>
            <div id="read_jul"></div>
            <h1>
                <div id="read_center">
                    <div id="read_blank1"></div>
                    <div id="read_card">card<br>
                        <button class="button button1">more</button>  
                    </div>
                    <div id="read_blank"></div>
                    <div id="read_card">card<br>
                        <button class="button button1">more</button>  
                    </div>
                    <div id="read_blank"></div>
                    <div id="read_card">card<br>
                        <button class="button button1">more</button>  
                    </div>
                </div>
            </h1>
            <div id="read_jul"></div>
            <h1>
                <div id="read_below">
                    <div id="read_blank1"></div>
                        <div id="read_card">card<br>
                        <button class="button button1">more</button>  
                    </div>
                    <div id="read_blank"></div>
                    <div id="read_card">card<br>
                        <button class="button button1">more</button>  
                    </div>
                    <div id="read_blank"></div>
                    <div id="read_card">card<br>
                        <button class="button button1">more</button>  
                    </div>
                </div>
            </h1>
        </div>
        <div id="read_under">under</div>
    </div>
    </body>
</html>