<!DOCTYPE html>
{% load static %}
<html lang="ko">

    <head>
    <meta charset="UTF-8">
    <link href = "{% static 'css/homecss.css' %}" rel = "stylesheet">
    <link href = "{% static 'css/bootstrap.css' %}" rel = "stylesheet">
    <title>Hagusa</title>
    </head>
    <body>
    <div id="m3">
        <div id ="read_title"><center>.....</div>
        <form>
            <input type="search" placeholder="검색창" aria-label="Search" size ="30">
            <input type="submit"  value="" style="background-color:transparent;  border:0px transparent solid;"></button>
        </form>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        
        
        
        <div id="read_under">under</div>
    </div>
    </body>
</html>