<!DOCTYPE html>
{% load static %}
<html lang="ko">

    <head>
    <meta charset="UTF-8">
    <link href = "{% static 'css/homecss.css' %}" rel = "stylesheet">
    <title>Hagusa</title>
    </head>
    <body>
    <div id="m3">
        <div id ="read_title"><center>.....</div>
        <form>
            <input type="search" placeholder="검색창" aria-label="Search" size ="30">
            <input type="submit"  value="" style="background-color:transparent;  border:0px transparent solid;"></button>
        </form>
        <div id="read_category">
            <h1>
                <div id="read_blank1"></div>
                <div id="read_card"><center>
                        <img src="../static/images/백꿈.png" class="card-img-top"style="width:225px;height:150px;"><br>
                        <div id="card_content">
                            <h10 class="card-title">title</h10><br>
                            <a class="card-text"style="font-size:15px;">설명글</a><br>
                            <a href="#" class="btn btn-primary"style="font-size:12px;">Go somewhere</a>
                        </div>
                </div>
                <div id="read_blank"></div>
                <div id="read_card"><center>
                        <img src="../static/images/백꿈.png" class="card-img-top"style="width:225px;height:150px;"><br>
                        <div id="card_content">
                            <h10 class="card-title">title</h10><br>
                            <a class="card-text"style="font-size:15px;">설명글</a><br>
                            <a href="#" class="btn btn-primary"style="font-size:12px;">Go somewhere</a>
                        </div>
                </div>
                <div id="read_blank"></div>
                <div id="read_card"><center>
                    
                        <img src="../static/images/백꿈.png" class="card-img-top"style="width:225px;height:150px;"><br>
                        <div id="card_content">
                            <h10 class="card-title">title</h10><br>
                            <a class="card-text"style="font-size:15px;">설명글</a><br>
                            <a href="#" class="btn btn-primary"style="font-size:12px;">Go somewhere</a>
                        </div>
                      
                </div>
            </h1>
            <div id="read_jul"></div>
            <h1>
                <div id="read_center">
                    <div id="read_blank1"></div>
                    <div id="read_card"><center>
                        
                            <img src="../static/images/백꿈.png" class="card-img-top"style="width:225px;height:150px;"><br>
                            <div id="card_content">
                                <h10 class="card-title">title</h10><br>
                                <a class="card-text"style="font-size:15px;">설명글</a><br>
                                <a href="#" class="btn btn-primary"style="font-size:12px;">Go somewhere</a>
                            </div>
                        
                    </div>
                    <div id="read_blank"></div>
                    <div id="read_card"><center>
                            <img src="../static/images/백꿈.png" class="card-img-top"style="width:225px;height:150px;"><br>
                            <div id="card_content">
                                <h10 class="card-title">title</h10><br>
                                <a class="card-text"style="font-size:15px;">설명글</a><br>
                                <a href="#" class="btn btn-primary"style="font-size:12px;">Go somewhere</a>
                            </div>
                    </div>
                    <div id="read_blank"></div>
                    <div id="read_card"><center>
                            <img src="../static/images/백꿈.png" class="card-img-top"style="width:225px;height:150px;"><br>
                            <div id="card_content">
                                <h10 class="card-title">title</h10><br>
                                <a class="card-text"style="font-size:15px;">설명글</a><br>
                                <a href="#" class="btn btn-primary"style="font-size:12px;">Go somewhere</a>
                            </div>
                    </div>
                </div>
            </h1>
            <div id="read_jul"></div>
            <h1>
                <div id="read_below">
                    <div id="read_blank1"></div>
                    <div id="read_card"><center>
                            <img src="../static/images/백꿈.png" class="card-img-top"style="width:225px;height:150px;"><br>
                            <div id="card_content">
                                <h10 class="card-title">title</h10><br>
                                <a class="card-text"style="font-size:15px;">설명글</a><br>
                                <a href="#" class="btn btn-primary"style="font-size:12px;">Go somewhere</a>
                            </div>
                    </div>
                    <div id="read_blank"></div>
                    <div id="read_card"><center>
                            <img src="../static/images/백꿈.png" class="card-img-top"style="width:225px;height:150px;"><br>
                            <div id="card_content">
                                <h10 class="card-title">title</h10><br>
                                <a class="card-text"style="font-size:15px;">설명글</a><br>
                                <a href="#" class="btn btn-primary"style="font-size:12px;">Go somewhere</a>
                            </div>
                    </div>
                    <div id="read_blank"></div>
                    <div id="read_card"><center>
                            <img src="../static/images/백꿈.png" class="card-img-top"style="width:225px;height:150px;"><br>
                            <div id="card_content">
                                <h10 class="card-title">title</h10><br>
                                <a class="card-text"style="font-size:15px;">설명글</a><br>
                                <a href="#" class="btn btn-primary"style="font-size:12px;">Go somewhere</a>
                            </div>
                    </div>
                </div>
            </h1>
        </div>
    </div>
    </body>
</html>