{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col"></div>
    <div class="col-12 col-xl-8 col-md-8">
        <div class="alert alert-primary" role="alert">
            모든 부분을 다 채워넣어주세요!!
        </div>
        <form action="" method="post" enctype='multipart/form-data'>
            % csrf_token %}
            {{form.as_p}}
            <form>
            <p>---------------------------------------------------------------------------------------------</p>
            <p>지역을 선택해주세요</p>
            <select name="fruit">
                <option value="local_half" selected> 중구 
                <option value="local_north"> 북구
                <option value="local_west"> 서구
                <option value="local_east"> 동구
                <option value="local_south"> 남구
                <option value="local_soosung"> 수성구
                <option value="local_dalsu"> 달서구
                </select>
            </form>
            <p><input type="submit" value="Upload" class="btn btn-pirmary"style="border:1px solid black;"></p>
        </form>
    </div>
    <div class="col"></div>
</div>
{% endblock %}