{% load static %}
<html>
    <head>
        <link href = "{% static 'css/test.css' %}" rel = "stylesheet">
    </head>
    <body>
    <div id="m3">
        <div id="m2">
            <div id="main_title">
                <font class="main_title_font">게시판</font>
                <a href="#" class="item">login</a>
                <a href="#" class="item">signup</a>
                <a href="#" class="item">목록으로</a>
            </div>
            <div id="read_title"></div>
                <div id="m1"><center></div>
                <div id="bulletin_detail">
                    <div id="bulletin_select_detail_introduce"><a href="#" class="item">소개</a></div>
                    <div id="bulletin_select_detail_menu"><a href="#" class="item">메뉴</a></div>
                    <div id="bulletin_select_detail_map"><a href="#" class="item">위치</a></div>
                    <div id="bulletin_select_detail_comment"><a href="#" class="item">댓글</a></div>
                </div>
            </div>
        </div>
    </div>    
    </body>
</html>
