<!DOCTYPE html>
{% load static %}
<html lang="ko">

    <head>
    <meta charset="UTF-8">
    <link href = "{% static '../static/css/login.css' %}" rel = "stylesheet">
    <title>Hagusa</title>
    </head>

    <body>
        <center>
        <div id="block"><center>
            <div id="inblock1"style="margin-top:60px;"><img src="../static/images/google.png"style="width:20px;height:20px;border-radius:10px;">구글 로그인</div>
            <div id="inblock2"style="margin-top:20px;"><img src="../static/images/naver.png"style="width:20px;height:20px;border-radius:10px;">네이버 로그인</div>
            <div id="inblock3"style="margin-top:20px;"><img src="../static/images/facebook.png"style="width:20px;height:20px;border-radius:10px;">페이스북 로그인</div>
        </div>
    </body>
</html>