{% load static %}

<head> 
    <meta charset="UTF-8">

    <link href = "{% static 'css/menu3.css' %}" rel = "stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>

<body>
    <div class="nav">
        <div class="logo">
            <img src="../static/images/aae.jpg">
        </div>
        <div class="nav_but">
            <a href="">페이지1</a>
            <a href="">페이지2</a>
            <a href="">페이지3</a>
            <a href="">페이지4</a>
        </div>
    </div>
    
   <center>
    <div id="m2">
      <center>
      
      <div id = "content">
          
              <div class>
                  <div id="image1"> images</div>
                  <div id='explain'>
                        <p>게시글 쓰는란</p>
                  </div>
              </div> 

              <div class>
                <div id="image1"> images</div>
                <div id='explain'>게시글 쓰는란</div>
            </div> 

            <div class>
                <div id="image1"> imgaes</div>
                <div id='explain'>게시글 쓰는란</div>
            </div> 

            <section class = "service">
                <div class = "container">
                    <div class ="img">
                        <img src="../static/imges/aae.jpg" alt="">

                    </div>
                    <div class = "text">
                        <h1>멋사</h1>
                        <p>dfdfd</p>
                        <button>more..</button>
                    </div>
                </div>
            </section>
            </center>
        </div>
    </center>
</body>