<!--{% load static %}
<h1> new page </h1>

<head> 
  <link href = "{% static 'css/menu.css' %}" rel = "stylesheet">
</head>

<body>
   <center>
    <div>
      <center>
      <div id="name", style="padding:20px;"> paris in the rain</div>

      <div id = "content">
          <div class="item">1</div>
          <div class="item">2</div>
          <div class="item">3</div>p
          
          <br>

          <div class="item">5</div>
          <div class="item">6</div>
          <div class="item">7</div>
          <br>

          <div class="item">9</div>
          <div class="item">10</div>
          <div class="item">11</div>
          <br>

        </div>
      
    </center>
    </div>
   </center>

  </body>
  -->
  <!DOCTYPE HTML>
  <html>

   <h1>바보</h1>
  </html>
