<!--{% load static %}
<h1> new page </h1>

<head> 
  <link href = "{% static 'css/menu.css' %}" rel = "stylesheet">
</head>

<body>
   <center>
    <div>
      <center>
      <div id="name", style="padding:20px;"> paris in the rain</div>

      <div id = "content">
          <div class="item">1</div>
          <div class="item">2</div>
          <div class="item">3</div>p
          
          <br>

          <div class="item">5</div>
          <div class="item">6</div>
          <div class="item">7</div>
          <br>

          <div class="item">9</div>
          <div class="item">10</div>
          <div class="item">11</div>
          <br>

        </div>
      
    </center>
    </div>
   </center>

  </body>
  -->
  <!DOCTYPE HTML>
  <html>

    <head>
      <title>클릭하면 뜨는 팝업</title>

      <script src="http://code.jquery.com/jquery-latest.js"></script>
    
    <script type="text/javascript">
    $(document).ready(function(){
      $('#pop_bt').click(function(){
        $('#pop').show();
      });
      $('#close').click(function(){
        $('#pop').hide();
      });
    });
    </script>

    </head>


    <body>
      <div id="pop_bt">
        팝업띄우기
      </div>

      <div id="pop" style="display:none;">
        <div style="height:370px;">
          안녕하세요 늑대털쓴양입니다
        </div>
        <div>
          
          <div id="close">close</div>

        </div>
      </div>

    </body>
  </html>
